@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "Dancing Script", cursive;
    src: url("/fonts/DancingScript-Bold.ttf") format("truetype");
    /* font-optical-sizing: auto; */
    /* font-weight: normal; */
    /* font-style: normal; */
  }
}
* {
  user-select: none;
}
.animate-blink {
  animation: 2s infinite blink;
}
@keyframes blink {
  0%,
  25%,
  75%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.tet-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.cta {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  background: #6225e6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fff;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

.cta span {
  transform: skewX(15deg);
}

.cta span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #fbc638;
  }
  100% {
    fill: white;
  }
}

.loader {
  width: 106px;
  height: 56px;
  display: inline-block;
  margin: 30px auto;
  background-image: linear-gradient(#f7e71e 50px, transparent 0),
    linear-gradient(#f7e71e 50px, transparent 0), linear-gradient(#f7e71e 50px, transparent 0),
    linear-gradient(#f7e71e 50px, transparent 0),
    radial-gradient(circle 14px, #f7e71e 100%, transparent 0);
  background-size: 48px 15px, 15px 35px, 15px 35px, 25px 15px, 28px 28px;
  background-position: 25px 5px, 58px 20px, 25px 17px, 2px 37px, 76px 0px;
  background-repeat: no-repeat;
  position: relative;
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.loader::after,
.loader::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  border: 6px solid #f7e71e;
  border-radius: 50%;
  left: -45px;
  top: -10px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#f7e71e 64px, transparent 0),
    linear-gradient(#f7e71e 66px, transparent 0),
    radial-gradient(circle 4px, #f7e71e 100%, transparent 0);
  background-size: 40px 1px, 1px 40px, 8px 8px;
  background-position: center center;
  box-sizing: border-box;
  animation: rotation 0.3s linear infinite;
}
.loader::before {
  left: 25px;
  top: 60px;
}
.move {
  animation: move 11.5s ease-in-out;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
li[data-sonner-toast] {
  @apply w-auto!;
}
